.about {
  display: flex;
  gap: 10px;
}

.about__wrap-right {
  width: 500px;
  flex-shrink: 0;
  transition: transform 0.3s;
  transition: box-shadow 0.3s;
  transition: outline 0.3s;
}

.about__wrap-right:hover {
  transform: scale(1.03);
}

.about {
  background-color: rgba(95, 116, 238, 0.719);
  color: rgb(255, 255, 255);
  padding: 10px;
}

.about__button {
  display: block;
  padding: 10px;
  color: rgb(71, 167, 62);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  margin-top: auto;
  margin-right: auto;
}

.about__wrap-left {
  display: flex;
  flex-direction: column;
}

.trainers__cards {
  width: 350px;
  padding: 15px;
  background-color: rgba(49, 50, 109, 0.74);
  color: black;
  font-style: oblique;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
  transition: transform 0.3s;
  transition: box-shadow 0.3s;
  transition: outline 0.3s;
}

.trainers__cards:hover {
  transform: scale(1.07);
  box-shadow: 0 8px 16px 0 rgba(61, 55, 55, 0.2);
}

.treiners__wrap {
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
}

.trainers__name {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.trainers__job {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  font-style: italic;
}

.trainers__desc {
  margin-top: 0;
  margin-bottom: 15px;
}

.trainers__link {
  display: block;
  padding: 10px;
  background-color: rgb(9, 122, 37);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
}

.trainers__list {
  margin: 0;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
}

.trainers__text {
  text-align: center;
}

.trainers__tex {
  text-align: none;
  display: flex;
  justify-content: flex-start;
  color: #ffffff;
}

.about__title {
  color: rgb(11, 14, 63);
  font-style: italic;
}

.about__title__desc {
  color: rgb(255, 255, 255);
  font-style: oblique;
}

.trainers__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.main__button {
  color: rgb(255, 255, 255);
  font-style: initial;
  border-radius: 20px;
  background-color: rgba(49, 55, 109, 0.74);
}

.main__button,
.rewivew__button {
  padding: 5px 10px;
  font-size: 20px;
  background-color: rgba(21, 13, 129, 0.651);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
}

.trainers__title {
  text-align: center;
}

.table__link {
  text-decoration: none;
  background-color: #bbb5b5;
  border-radius: 10px;
  color: #000;
  padding: 5px 10px;
}

.table__link:hover {
  text-decoration: underline;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.table,
.table__row,
.table__col {
  border: 1px solid #000;
}


.rewivew__button:hover {
  background-color: rgba(42, 55, 238, 0.651);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rewivew__button:active {
  background-color: #2f2961;
  color: #ffffff
}

.rewivew {
  margin: 10px auto;
}

.main__button:hover {
  background-color: rgba(42, 55, 238, 0.651);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.main__button:active {
  background-color: #2f2961;
  color: #ffffff
}

.about__image:hover {
  background-color: rgba(42, 55, 238, 0.651);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.07);
}

.uslugi__text {
  text-align: center;
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #000000;
}

.uslugi__wrapper {
  margin: 0;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
}

.uslugi__one {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}

.uslugi__vid {
  width: 300px;
  padding: 15px;
  background-color: aliceblue;
  color: #000;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
  transition: transform 0.3s;
  transition: box-shadow 0.3s;
  transition: outline 0.3s;

}

.uslugi__image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.uslugi__vid:hover {
  background-color: rgba(22, 30, 143, 0.651);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.07);
}

.uslugi__vid:active {
  background-color: #2f2961;
  color: #ffffff
}

.hidden {
  display: none; /* Скрываем элементы с этим классом */
}
